.pull-right
{
    float: right;
    position: relative;
}
.control-label{
    padding:6px 20px;
}
.round {
    padding: 3px;
    border-radius: 50px;
    border: 1px solid #101011; 
  }
  .blinking {
    animation: blinker 1s linear infinite;
  }
  
  @keyframes blinker {
    50% {
      opacity: 0;
    }
  }